{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fiche de mission</h1>

   <p>{{mission.getTitle}}</p>
   <p>{{mission.getContent}}</p>
   <p>{{mission.getCodeName}}</p>
   <p>{{mission.getCountry}}</p>
   <p>{{mission.getType}}</p>
   {# <p>{{mission.getStartDate}}</p>
   <p>{{mission.getEndDate}}</p> #}

    <p>Les agents sur la mission: </p>
    <ul>
        {% for agent in mission.getAgents %}
            <li>{{agent.getLastName}} {{agent.getFirstName}}</li>
        {% endfor %}
    </ul>

    <p>Les contacts sur la mission: </p>
    <ul>
        {% for contact in mission.getContacts %}
            <li>{{contact.getLastName}} {{contact.getFirstName}}</li>
        {% endfor %}
    </ul>

    <p>Les cibles sur la mission: </p>
    <ul>
        {% for target in mission.getTargets %}
            <li>{{target.getLastName}} {{target.getFirstName}}</li>
        {% endfor %}
    </ul>

    <p>Les planques sur la mission: </p>
    <ul>
        {% for stash in mission.getStashs %}
            <li>{{stash.getAdress}}</li>
        {% endfor %}
    </ul>

    <p>La spécialité de la mission: </p>
    <ul>
        {% for speciality in mission.getSpecialitys %}
            <li>{{speciality.getName}}</li>
        {% endfor %}
    </ul>
{% endblock %} 